---
layout: page
title: who we are
permalink: /who/
heading: We love our members
intro-text: Our members are nimble thinkers and tinkerers who can do a whole bunch of stuff. Just ask us. However, just so that <em>we</em> can understand what we do, we've organised our "what" into three main areas.
img: members.png
---

<div class="row">
            <div class="card-panel small blue lighten-5 col s12 m6 l6">
                <img src="{{ "/" | relative_url }}assets/images/members/doug.jpg" class="card-image" width="200px" alt="Doug">

                <header class="card-title">
                    <h3>Doug Belshaw</h3>

                    <h4>Open Educational Thinkerer</h4>
                </header>

                <p><a href="http://twitter.com/dajbelshaw">Doug</a>, from <a href="http://dynamicskillset.com">Dynamic Skillset</a> is a specialist in digital literacies and new forms of accreditation such as Open Badges. He's a doctor, but not the type that can help you with an emergency tracheotomy! <a href="http://dougbelshaw.com">Learn more.</a></p>
            </div>

            <div class="card-panel small blue lighten-5 col s12 m6 l6">
                <img src="{{ "/" | relative_url }}/assets/images/members/john.jpg" width="200px" alt="John">

                <header>
                    <h3>John Bevan</h3>

                    <h4>Convenor &amp; Connector</h4>
                </header>

                <p><a href="http://twitter.com/bevangelist">John</a>, from Go Fast, Turn Left, connects people for the common good. He’s devised and run open innovation programmes for a host of household names, helping them to break silos both within and between organisations. <a href="http://bevangelist.uk">Learn more.</a></p>
            </div>
</div>
<div class="row">
            <div class="card-panel small blue lighten-5 col s12 m6 l6">
                    <img src="{{ "/" | relative_url }}/assets/images/members/laura.jpg" width="200px" alt="Laura">

                    <header>
                        <h3>Laura Hilliger</h3>

                        <h4>Strategist &amp; Idea Maker</h4>
                    </header>

                    <p><a href="http://twitter.com/epilepticrabbit">Laura</a> is a creative champion for communities. Her mind baffles us. She builds, writes, sees big pictures. She thinks she's funny (she is), dislikes juggling and contributes because she knows that the more you give, the more you receive. <a href="http://laurahilliger.com">Learn more.</a></p>
        	</div>

            <div class="card-panel small blue lighten-5 col s12 m6 l6">
                    <img src="{{ "/" | relative_url }}/assets/images/members/bryan.jpeg" width="200px" alt="Bryan">

                    <header>
                        <h3>Bryan Mathers</h3>

                        <h4>Visual Thinker</h4>
                    </header>

                    <p><a href="http://twitter.com/bryanmmathers">Bryan</a>, from <a href="http://visualthinkery.com">Visual Thinkery</a>, creates pictures to explore and engage others in ideas, concepts and messages. He draws everything from avocados to zany figures. His mind can turn words into pictures that inspire more words. <a href="http://visualthinkery.com">Learn more.</a></p>
            </div>
</div>